<div class="w3-bar-block  w3-lightgrey">
  {% for myvar in site.data.navigation.toc %}
  <p class="nomar"><b>{{myvar.title}}</b></p>
    <!-- <p class="w3-bar-item w3-button"><b>{{myvar.title}}</b></p> -->
    {% for mylink in myvar.subfolderitems %}
      {% if mylink.url == page.url%}
        <a href="{{mylink.url | relative_url }}" class="w3-bar-item w3-button w3-text-blue"><b>{{mylink.title}}</b></a>
      {% else %}
        <a href="{{mylink.url | relative_url }}" class="w3-bar-item w3-button w3-hover-light-grey">{{mylink.title}}</a>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
