<!DOCTYPE html>
<html>
<title>RegDocs</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/w3.css">
<body>
<header class="w3-container w3-black w3-border-bottom ">
  <h1>Header</h1>
</header>
<div class="w3-row">
  <div class="w3-col w3-left w3-container" style="width:250px">
    <div class="w3-bar-block w3-light-grey">
      <a class="w3-bar-item "><b>Heading</b></a>
      <a href="#" class="w3-bar-item w3-button">Home</a>
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
      <a href="#" class="w3-bar-item w3-button">Home</a>
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>
      <a href="#" class="w3-bar-item w3-button">Home</a>
      <a href="#" class="w3-bar-item w3-button">Link 1</a>
      <a href="#" class="w3-bar-item w3-button">Link 2</a>
      <a href="#" class="w3-bar-item w3-button">Link 3</a>

    </div>
  </div>
  <div class="w3-rest w3-container">
    <p>w3-rest</p>
  </div>
</div>
<footer class="w3-container w3-black w3-border-top">
  <h3>Footer</h3>
</footer>
</body>
</html>
